{% extends 'base.html' %}
{% load static crispy_forms_tags %}
{% block content %}
<div class="login-form">
    <div class="container">
        <h2 class="text-center">REGISTER</h2>
        <form method="POST">
            {% csrf_token %}
            {{form|crispy}}
            <input type="submit" class="btn btn-block btn-primary" value="Register">
        </form>
    </div>
</div>

<style>
    *{
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        font-weight: 500;
    }
</style>
{% endblock %}
