{% load static %}
<footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <p class="m-2">&copy;  SHIVAM CHAUDHARY 2021.</p>
            </div>
            <div class="col-md-6 text-right">
               <!-- Facebook -->
        <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Instagram -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        ><i class="fab fa-linkedin"></i
      ></a>
      <!-- Github -->
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        href="#!"
        ><i class="fab fa-github"></i
      ></a>
      <!-- Google -->
      <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          ><i class="fab fa-google"></i
          ></a>

            </div>
          </div>
        </div>
    </footer>

<style>
    .footer {
      font-family: 'Roboto', sans-serif;
      font-size: 16px;
      font-weight: 600;
      color: var(--text-color);
      border-top: 1px solid #eee;
      -webkit-transition: all 0.3s ease-in-out 0s;
        -o-transition: all 0.3s ease-in-out 0s;
        transition: all 0.3s ease-in-out 0s;
    }
    .footer {
      margin-top: 50px;
      padding-top: 25px;
      padding-bottom: 15px;
    }

    .fab{
      color: var(--text-color);
    }
</style>